name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: tag name
  push:
    tags:
      - v*.*.*

jobs:
  release:
    name: "Job - ${{ matrix.name }}"
    runs-on: "${{ matrix.os }}"
    env:
      EDITION: community
      CI_JOB_NAME: "${{ matrix.name }}"
    
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: dist-aarch64-linux-gnu
            os: ubuntu-20.04
            target: aarch64-unknown-linux-gnu

          - name: dist-x86-64-linux-gnu
            os: ubuntu-20.04
            target: x86_64-unknown-linux-gnu

          - name: dist-aarch64-linux-musl
            os: ubuntu-20.04
            target: aarch64-unknown-linux-musl

          - name: dist-x86-64-linux-musl
            os: ubuntu-20.04
            target: x86_64-unknown-linux-musl

          - name: dist-windows-msvc
            os: windows-latest
            target: x86_64-pc-windows-msvc

    steps:
      - name: checkout the source code
        uses: actions/checkout@v4

      - name: run build job
        env:
          HOST_TRIPLE: ${{ matrix.target }}
        run: bash ci/release.sh

      - name: upload release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          generateReleaseNotes: true
          artifacts: "./dist/*"
          prerelease: true
